<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SportsMGMTDataAccess.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="Web.config"/>
  <applicationSettings>
    <SportsMGMTDataAccess.AppSettings>
      <setting name="blob" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=sportsappexceptions;AccountKey=f34SMxD/59nQfbcDm9agxMfc2zcy7YIfCsSvr/IpOTSdNMBaafTvjCTzAg5lBHuik+xjl5XWHadv5s5IF/6QGw==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=tcp:carletonserver.database.windows.net,1433;Initial Catalog=SportsMGMTCapStone;Persist Security Info=False;User ID=carl;Password=5611S@ddle;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
      </setting>
    </SportsMGMTDataAccess.AppSettings>
  </applicationSettings>
</configuration>