
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string username = "";
    var dash = Session["Dash"] as SportsMGMTCommon.DashBoard;
}


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <br />
                            <h3 class="headline_description">Forgot Password</h3>

                            @using (Html.BeginForm("ForgotPassword", "User"))
                            {

                                if (ViewBag.Message == "UserName Valid")
                                {
                                    //display success message in green boarder
                                    <div class="alert alert-success" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }
                                else if (ViewBag.Message == "User Does Not Exist with that UserName")
                                {
                                    //display red message if exception thrown
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }
                                else
                                {

                                }


                            <!-- Create a Form that gets the Values for a User in the database, and has a submit and clear buttons-->
                            <div class="form-group">
                                <label for="Login">UserName</label>
                                @Html.TextBox("UserName", username, new { htmlattributes = new { @class = "form-control", @placeholder = "Enter UserName", } })
                            </div>
                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit UserName</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
