@model List<SportsMGMTCommon.GameAttendance>

@{
    ViewBag.Title = "ViewGameAttendance";
}

<h2>ViewGameAttendance</h2>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Attendance</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Home Team Vs AwayTeam
                        </th>
                        <th>
                            PlayerName
                        </th>
                        <th>
                            Attended?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{ if (item != null)
                                {
                            <td>
                                @Html.FormatValue(item.GameID, SportsMGMTApp.Models.GameAttendanceModel.FormatGameIDs(item.GameID))
                            </td>
                            <td>
                                @Html.FormatValue(item.UserID, SportsMGMTApp.Models.GameAttendanceModel.GetUserName(item.UserID))
                            </td>
                            <td>
                                @Html.FormatValue(item.Attended, SportsMGMTApp.Models.GameAttendanceModel.FormatAttend(item.Attended))
                            </td>
                                }
                                else
                                {
                                    <td>
                                        No Attendance Recorded
                                    </td>
                                    <td>
                                        No Attendance Recorded
                                    </td>
                                    <td>
                                        No Attendance Recorded
                                    </td>
                                }
                                }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href=@Url.Action("ListGameAttendance", "Attendance") class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
    </span>
    <span class="text">Create New</span>
</a>